{% extends "base.html" %}

{% block content %}
<h1>Users</h1>
<table border="1">
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary</th>
        <th>Phone</th>
        <th>Country</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.salary }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.cname }}</td>
        <td>
            <a href="{{ url_for('update_user', email=user.email) }}">Edit</a>
            <a href="{{ url_for('delete_user', email=user.email) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
